[package]
name = "huskarl"
version = "0.1.0"
edition = "2024"
rust-version = "1.88"

[dependencies]
base64 = { version = "0.22", default-features = false }
bon = { version = "3.8", default-features = false, features = ["implied-bounds"] }
bytes = { version = "1", default-features = false }
hex = { version = "0.4", default-features = false }
http = { version = "1", default-features = false, features = ["std"] }
rand = { version = "0.10", default-features = false }
secrecy = { version = "0.10", default-features = false, features = ["serde"] }
serde = { version = "1.0", default-features = false, features = ["derive", "rc"] }
serde_html_form = { version = "0.3", default-features = false, features = ["std"] }
serde_json = { version = "1", default-features = false, features = ["std"] }
sha2 = { version = "0.11.0-rc.5", default-features = false }
snafu = { version = "0.8", features = ["rust_1_81"], default-features = false }
subtle = { version = "2", default-features = false }
url = { version = "2", default-features = false }
uuid = { version = "1.13", default-features = false, features = ["v7"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1", default-features = false, features = ["time"] }
